.ama_history {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 40px;
  border-radius: 30px;
  width: 100%;
  max-width: 500px;
  max-height: fit-content;
  align-items: center;
  justify-content: center;
  border: 2px solid #4ac0f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Poppins', sans-serif;
}

.ama_select {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5c5c5c;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  margin-top: 20px;
  text-align: center;
}

.toggle_btn {
  padding: 12px 24px;
  background-color: #4ac0f1;
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle_btn:hover {
  background-color: #3aaee0;
}

.toggle_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.admin_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select_view {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  padding: 0 40px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  flex: 1.2;
  padding: 15px 18px;
}

.ama_card {
  background-color: white;
  border-radius: 20px;
  padding: 15px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
}

.ama_card:hover {
  border-color: #4ac0f1;
  transform: translateY(-3px);
}

.ama_card h4 {
  margin-bottom: 6px;
  font-size: 17px;
  color: #333;
}

.ama_card .active {
  color: #28a745;
  font-weight: bold;
}

.ama_card .inactive {
  color: #aaa;
  font-style: italic;
}

.ama_card ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: disc;
  color: #555;
  font-size: 14px;
}

.card_detail {
  flex: 1;
  background: #f9f9f9;
  border-radius: 20px;
  padding: 25px;
  border: 1.5px solid #d8e6ee;
  min-height: 200px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.card_detail h2 {
  margin-bottom: 10px;
  color: #444;
}

.card_detail ul {
  margin-top: 10px;
  padding-left: 20px;
  color: #444;
}

.card_detail p {
  color: #666;
  font-size: 15px;
  margin-top: 10px;
}

.select_member_btn {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #4ac0f1;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.select_member_btn:hover {
  background-color: #3aaee0;
}