form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #45b4eb;
    padding: 40px;
    border-radius: 10%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 450px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    margin-bottom: 10%;
}


input {
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.newmem_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit_btn {
    background-color: #45b4eb;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    display: flex;
    font-size: 16px;
    border-radius: 20%;
    border: 2px solid white;
    cursor: pointer;
    font-family: 'Quicksand';
}

.textarea_blurb {
    width: 400px;
    height: 200px;
}

.textarea_facts {
    width: 400px;
    height: 20px;
}

.p4 {
    display: flex;
    justify-content: center; 
    color: black;
    font-family: 'Quicksand';
    font-size: 14px;
    text-align: left;
}

.textarea_blurb::placeholder, .textarea_facts::placeholder {
    display: flex;
    justify-content: center; 
    color: gray;
    font-family: 'Quicksand';
    font-size: 14px;
    text-align: left;   
}