.profile_field_column {
    display: flex;
    flex-direction: column;
    background: #45b4eb;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 30%;
    max-width: 200px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    margin-bottom: 10px;
    height: 30%;
    margin-right: 10px;
    
}


.profile_field_lg_column {
    display: flex;
    flex-direction: column;
    background: #45b4eb;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    margin-bottom: 10px;
    height: 30%;
    margin-right: 10px;
}


.profile_page_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}