

.profile_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile_container {
    display: flex;
    flex-direction: column;
    background: #d7f1fc;
    padding: 40px;
    border-radius: 10%;
    width: 100%;
    max-width: 650px;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
    border: 2px solid #45b4eb;
    margin-bottom: 80px;
    margin-top: 20px;
    gap: 10px;
}

.smaller_field {
    display: flex;
    background: white;
    height: 30px;
    width: 300px;
    align-items: left;
    justify-content: left;
    border: 2px solid #45b4eb;
}