.profile_field {
    display: flex;
    flex-direction: column;
    background: #45b4eb;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 30%;
    max-width: 200px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    margin-bottom: 10px;
    height: 30%;;
}


.profile_field_lg {
    display: flex;
    flex-direction: column;
    background: #45b4eb;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 40%;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    margin-bottom: 10px;
    height: 30%;;
}


.profile_page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}